.MenuItem{
    background-color: var(--last-color);
    grid-area: MI;
    overflow: scroll;
}
::-webkit-scrollbar{
    display: none;
}
.MenuItem header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.MenuItem h3{
    font-weight: 100;
    font-size: large;
}
.MenuItem button{
    border-radius: 5px;
}
.MenuItem ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    padding: 10px;
}
.MenuItem p{
    line-height: 21px;
}
.MenuItem li{
    background-color: var(--ordem-color);
    padding: 5px;
    padding-left: 18px;
    border-radius: 10px;
}
.ItemHeader{
    text-align: center;
    font-size: 16px;
}
.ItemHeader h4{
    font-weight: 100;
}
.Buttons{
    width: 25px;
    height: 25px;
    float: right;
}
.MenuItem img{
    width: 25px;
    height: 25px;
    float: right;
}
.Dialog h3{
    font-size: large;
    font-weight: 100;
    margin-bottom: 10px;
}
.DialogButtons button{
    margin: 5px;
    border-radius: 5px;
}
.DialogButtons{
    float: right;
    margin-top: 10px;
}
.Dialog{
    padding: 10px;
}