.BotControll{
    grid-area: BC;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Controllers{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.QrBorde{
    padding: 2px;
    width: 181px;
    height: 181px;
    background-color: #f0f0f5;
}
.cont{
    display: flex;
    height: 20px;
    width: 300px;
}
.cont div{
    width: 150px;
    text-align: center;
}