.MenuStreat{
    grid-area: MI;
    background-color: var(--last-color);
    overflow: scroll;
}
::-webkit-scrollbar{
    display: none;
}
.MenuStreat h3{
    font-weight: 100;
    font-size: large;
}
.MenuStreat button{    
    border-radius: 5px;
}
.Mult{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}
.Mult input{
    width: 15px;
    height: 15px;
    margin-right: -15px;
}
.MenuStreat ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    padding: 10px;
}
.MenuStreat li{
    background-color: var(--ordem-color);
    padding: 5px;
    padding-left: 18px;
    border-radius: 10px;
}
.MenuStreat p{
    line-height: 21px;
}
.StreatHeader{
    text-align: center;
    font-size: 16px;
}
.StreatHeader h4{
    font-weight: 100;
}

.Buttons{
    width: 25px;
    height: 25px;
    float: right;
}
.Streats img{
    width: 25px;
    height: 25px;
    float: right;
}